<div id="progress" style="display: none;"><div id="progress-bar" style="width: 100%;"></div></div>
<div id="map"></div>


<script>
	//console.log(<%= @lats %>)
	//console.log(<%= @lngs %>)
	// set up the map
	map = new L.Map('map');

	// create the tile layer with correct attribution
	var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
	var osm = new L.TileLayer(osmUrl, {minZoom: 2, maxZoom: 32, attribution: osmAttrib});		

	// start the map in Lautere
    map.setView([52.435757, 13.557848], 13);
	map.addLayer(osm);

	var progress = document.getElementById('progress');
	var progressBar = document.getElementById('progress-bar');

	function updateProgressBar(processed, total, elapsed, layersArray) {
			if (elapsed > 1000) {
				// if it takes more than a second to load, display the progress bar:
				progress.style.display = 'block';
				progressBar.style.width = Math.round(processed/total*100) + '%';
			}

			if (processed === total) {
				// all markers processed - hide the progress bar:
				progress.style.display = 'none';
			}
		}

	var markers = L.markerClusterGroup({ chunkedLoading: true, chunkProgress: updateProgressBar });
	var markerList = []

	function getTime() {
    	var d = new Date();
    	var n = d.getTime();
    	console.log(n)
	}

	getTime();
	<% @lats.each_with_index do |lat, i| %>
		//console.log(<%= @lngs[i] %>)
		//console.log(<%= @lats[i] %>)
		<% lng = @lngs[i].to_s.gsub("_E", "") %>
		<% lng = lng.to_s.gsub("_r", "") %>
		<% lat = lat.to_s.gsub("_N", "") %>
		var marker = L.marker([<%= lat %>, <%= lng %>]);
		markerList.push(marker)
		//map.addLayer(marker);
	<% end %>
	//getTime();
	console.log('start clustering: ' + window.performance.now());
	markers.addLayers(markerList);
    map.addLayer(markers);
	console.log('end clustering: ' + window.performance.now());
    //getTime();

</script>
    
<div id="photos"></div>
<div id="wikipedia"></div>